/* 
.auto-road {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://img.freepik.com/free-photo/truck-with-white-trailer-that-says-scania-side_123827-23486.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1723248000&semt=ais_hybrid');
  background-size: cover;
  background-position: center;
}

.main-content {
  
  color: #ffffff;
  
  padding: 30px;
  border-radius: 10px;
}

.text-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-right: 200px;
} */

.auto-road {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns items to the start (left) */
  height: 100vh;
  background-image: url('https://thumbs.dreamstime.com/b/white-lorry-trailer-over-blue-sky-28952335.jpg'); /* Add your background image path */
  background-size: cover;
  padding-right: 100px;
  background-position: center;
}

.main-content {
  padding: 20px; /* Adjust padding as needed */
}

.text-content {
  max-width: 600px; /* Adjust the max-width as needed */
}

.text-content h1 {
  font-size: 2rem; /* Adjust font size as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
  color: black;
}

.text-content button {
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 1rem; /* Adjust font size as needed */
  background-color: #007bff; /* Adjust button background color */
  color: #fff; /* Adjust button text color */
  border: none;
  border-radius: 5px; /* Adjust border radius as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.text-content button:hover {
  background-color: #0056b3; /* Adjust button hover color */
}


/* https://png.pngtree.com/thumb_back/fh260/background/20231001/pngtree-3d-illustration-a-speeding-truck-on-the-highway-image_13567341.png */
/* 'https://img.freepik.com/free-photo/truck-with-white-trailer-that-says-scania-side_123827-23486.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1723248000&semt=ais_hybrid' */