/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #1c1e21;
    color: white;
   
}
  
  
  /* Container */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    background-image: url('');
  }
  
  /* Navbar */
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .logo span {
    color: #00ff00; /* Green color for "Uber" */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .sign-up-btn {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Main Content */
  .main-content {
    text-align: center;
    margin-top: 50px;
    height: 70vh;
    margin: 0%;
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative; 
  width: 104%;
  height: 90vh;
  top: 0;
  background: url('C:\Users\Divya\Desktop\SDP\Loginpage\my-app\public\front.jpg') center/cover no-repeat, 
              linear-gradient(248deg, #78bee4 0%, #000000 100%);
              opacity: .70;
  background-blend-mode: overlay;
  

  }
  
  .main-content h1 {
    font-size: 2.5em;
    margin-right: 750px;
    margin-top: 150px;
    
  }
  
  .main-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .connect-now {
    margin-top: 30px;
  }
  
  .connect-now h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .city-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .city-btn {
    margin-top: 50px;
    background-color: #006400; /* Dark green color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .button{
    margin-right: 100px;
    margin-top: 50px;
  }
  